@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=DM+Serif+Display&family=Exo+2:wght@300&family=IBM+Plex+Mono&family=Inconsolata&family=Manrope:wght@600&family=Work+Sans&display=swap');

:root {
    /* Colors */
    --gunmetal: #00272bff;
    --mint-cream: #eff9f0ff;
    --cerulean: #4281a4ff;
    --atomic-tangerine: #ff934fff;
    --amaranth-purple: #a40e4cff;

    /* Fonts */
    --heading-font-1: "Manrope", "Comfortaa";
    --heading-font-2: "Exo 2", "DM Serif Display";
    --paragraph-font-1: "Inconsolata", "Work Sans", "IBM Plex Mono";
}

body {
    margin: 0;
}

.banner, nav, main, footer {
    width: 100%;
    min-width: 450px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mint-cream);
    background-color: var(--atomic-tangerine);
    font-family: var(--heading-font-2);
    font-size: 20px;
}

.banner a {
    text-decoration: none;
    position: absolute;
    right: 12px;
}

.banner.close {
    display: none;
}

nav {
    display: block;
    background-color: var(--gunmetal);
    font-family: var(--heading-font-2);
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.logo img {
    width: 100px;
    background-color: var(--mint-cream);
    border-radius: 50%;
    padding: 10px;
    margin: 25px 20px;
}

.menu {
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

.menu li {
    font-size: 22px;
    padding: 10px 0;
}

.menu.open {
    display: block;
    text-align: center;
}

nav a:hover, .menu a.active {
    color: #5CC6FF;
}

#menuButton {
    position: absolute;
    top: 120px;
    right: 20px;
    background-color: var(--gunmetal);
    font-size: 25px;
}

#menuButton::before {
    content: "☰";
}

#menuButton.open::before {
    content: "❌";
    font-size: 22px;
}


/* Main Section Styles */
main {
    width: 100%;
    background-color: var(--mint-cream);
    padding-bottom: 30px;
}

picture img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid cadetblue;
}

/* Join Button Styles */
.rentBnt {
    background-color: var(--cerulean);
    text-align: center;
    width: 160px;
    margin: 30px auto;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 20px;
}

.rentBnt a {
    color: black;
    text-decoration: none;
    font-family: var(--heading-font-1);
}


/* Table tyles */
table {
    width: 90%;
    border: 3px solid black;
    border-spacing: 0;
    margin: 20px auto;
    text-align: center;
    background-color: whitesmoke;
}

caption {
    caption-side: bottom;
    padding-top: 10px;
}

thead tr:first-child th {
    color: white;
    background-color: var(--gunmetal);
    font-size: 20px;
}

thead th {
    padding: 10px;
    font-size: 17px;
    font-family: var(--heading-font-1);
    background-color: var(--cerulean);
}

tbody td {
    padding: 10px;
    font-family: var(--heading-font-2);
}

/* Table Borders */
thead th, tbody td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


/* Reviews Styles */
#reviews {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}

.reviewCard {
    width: 200px;
    min-width: 150px;
    color: #FFF6CC;
    background-color: var(--amaranth-purple);
    font-family: var(--heading-font-1);
    border-radius: 0 30px 0 30px;
    padding: 20px;
    margin: 10px 10px;
}

.reviewCard img {
    width: 50%;
}

.reviewText {
    line-height: normal;
}

.reviewName {
    text-align: right;
}


/* Weather Styles */
#weather {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#weather h2 {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: var(--paragraph-font-1);
}

#weather h2:first-child {
    align-self: flex-start;
    margin-left: 20px;
}

.weatherCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-width: 280px;
    height: 185px; 
    margin: 15px 20px;
    background-color: var(--cerulean);
    font-family: var(--heading-font-1);
}

.weatherCard div {
    text-align: center;
    padding: 0 20px
}

.currentWeather {
    box-shadow: 20px 20px 3px gray;
    align-self: flex-start;
}

#currentImg, #weatherImg {
    width: 70px;
}

#currentDiscription, #weatherDiscription {
    margin: 0 0;
}

.forcast {
    box-shadow: -17px 17px 3px gray;
    align-self: flex-end;
}


/* Footer Styles */
footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: var(--heading-font-2);
    background-color: var(--atomic-tangerine);
    max-height: 300px;
    justify-content: space-around;
}

footer img {
    width: 90px;
    height: auto;
    background-color: var(--mint-cream);
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
}

footer div {
    margin: 0 10px;
}

footer div:nth-child(1) {
    max-width: 200px;
}

#locations, #soicalLinks {
    text-align: left;
    min-width: 95px;
}

#locations ul, #soicalLinks ul {
    padding-left: 25px;
}

#soicalLinks {
    display: none;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
}

footer div:nth-child(4) {
    align-self: center;
    font-family: var(--heading-font-1);
    font-size: 15px;
    margin: 0 15px;
}














/* Contact Page Styles */

#contactMain {
    display: grid;
    grid-template-columns: auto 80% auto;
    padding: 20px 0;
}

#contactMain * {
    grid-column: 2/3;
}

#contactMain h2 {
    font-family: var(--heading-font-1);
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px; 
    border-bottom: 3px solid black;
}

#contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}

#contactInfo div:first-child {
    border-bottom: 3px solid black;
    padding: 20px 20%;
}

#contactInfo div, #contactInfo div a {
    width: 50%;
    display: block;
    text-align: center;
    font-family: var(--paragraph-font-1);
    font-size: 20px;
}

#contactInfo div a {
    width: 100%;
    color: blue;
    text-decoration: none;
    padding: 10px 0;
}

#map {
    width: 95%;
    margin: 50px auto 0 auto;
}

iframe {
    width: 100%;
}

form {
    display: block;
    font-family: var(--paragraph-font-1);
    margin: 60px 5px 40px 5px
}

legend {
    padding: 0 10px;
    margin: 0 5px;
    font-size: 18px;
}

fieldset {
    border: 2px solid var(--cerulean);
    border-radius: 10px;
}

label {
    display: block;
    width: 87%;
    font-size: 15px;
    line-height: 30px;
    margin: 10px 0;
}

input {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

input:required {
    border-left: 7px solid red;
}

input:required:valid {
    border-left: 7px solid green;
}

#comment {
    margin-bottom: 0;
}

textarea {
    width: 105%;
    max-width: max-content;
    max-height: 250px;
    min-height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

#submitBnt {
    width: 200px;
    font-size: 15px;
    font-family: var(--heading-font-1);
    text-align: center;
    color: white;
    background-color: rgb(81, 81, 81);
    border: 2px solid black;
    padding: 15px;
    margin: 25px 0 ;
}