@media screen and (min-width: 740px) { 
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #menuButton {
        display: none;
    }

    .menu {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px;
    }

    .menu li {
        font-size: 20px;
        padding: 0 15px;
    }

    #soicalLinks {
        display: initial;
    }


    /* Rental Page Styles */

    .rentals {
        margin: 0 30px
    }

    .scooterCards.show, .atvCards.show, .jeepCards.show {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .rentalCard {
        margin: 10px 20px;
        max-width: 450px;
    }



    /* Reservation Page Styles */

    .rentalAgreement {
        margin: 20px 80px;
    }



    /* Contact Styles */

    #contactInfo {
        flex-direction: row;
    }

    #contactInfo div:first-child {
        border-bottom: none;
        border-right: 3px solid black;
        padding: 20px 0;
    }

    input {
        width: 105%;
    }

    textarea {
        width: 108%;
        max-width: none;
    }
}