
@media screen and (min-width: 1000px) {

    body {
        grid-template-columns: 1fr 80% 1fr;
    }

    header img {
        max-width: 80px;
        padding: 20px;
    }

    #menuButton {
        display: none;
    }

    #navigation {
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        margin: 0 10px;
        background-color: initial;
        position: relative;
        top: -5rem;
        justify-content: space-evenly;
    }

    #navigation a {
        display: flex;
        color: azure;
        font-size: 20px;
        padding: 15px 0;
    }

    #navigation a:nth-child(1), #navigation a:nth-child(2) {
        padding: 15px 30px;
        position: relative;
        right: 40px;
    }

    #navigation a:nth-child(3), #navigation a:nth-child(4) {
        padding: 15px 30px;
        position: relative;
        left: 40px;
    }

    #navigation a:hover {
        background-color: white;
        color: black;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .heroImg {
        grid-column: 1/4;
    }

    .centerText {
        font-size: 2.5rem;
        width: 70%;
    }

    #join {
        grid-column: 1/4;
    }

    .events, .spotlights {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .events h2, .spotlights h2 {
        grid-column: 1/3;
        justify-items: normal;
    }

    .eventCard {
        min-width: 210px;
        min-height: 720px;
        line-height: 50px;
    }

    .eventCard h3 {
        font-size: 22px;
    }

    .eventCard p {
        line-height: 34px;
    }

    .eventCard:nth-child(2) {
        grid-column: 1/2;
    }

    .eventCard:nth-child(3) {
        grid-column: 2/3;
    }

    .events .eventCard:nth-child(2) img {
        float: none;
    }

    .spotlights .spotlightCard {
        margin: 10px;
    }

    #weather {
        grid-column: 1/2;
    }

    .employeeSpotlight {
        grid-column: 2/4;
        margin: 10px;
    }

    footer {
        margin-top: 20px;
        align-items: center;
    }

    #navigationLinks {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    #navigationLinks a {
        display: flex;
        color: azure;
        font-size: 20px;
    }

    .footerInfo {
        max-width: 210px;
    }



    /* Join Page Styles */

    main {
        justify-items: center;
        grid-template-columns: 40% 200px 40%;
    }


    /* Directory Page Styles */

    .grid section {
        min-width: 180px;
        min-height: 280px;
    }
 }