
@media screen and (min-width: 1000px) {

    #weather {
        grid-column: 1/2;
    }

    .currentWeather p:nth-child(1) {
        padding: 0 10px 0 10px;
    }

    .employeeSpotlight {
        grid-column: 2/4;
        margin: 10px;
    }


    /* Join Page Styles */

    #joinMain {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }


    /* Directory Page Styles */

    .grid section {
        min-width: 180px;
        min-height: 280px;
    }
 }