 
@media screen and (min-width: 800px) {

    body {
        grid-template-columns: 1fr 80% 1fr;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    header img {
        max-width: 100px;
        padding: 20px;
    }

    header h2 {
        margin: 0 20px;
    }

    #menuButton {
        display: none;
    }

    #navigation {
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #navigation a {
        display: block;
        font-size: 20px;
        padding: 20px 35px;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .heroImg {
        grid-column: 1/4;
    }

    .centerText {
        font-size: 2.5rem;
        width: 70%;
    }

    #join {
        grid-column: 2/3;
        margin: 0;
    }

    .events, .spotlights {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: stretch;
    }

    .events h2, .spotlights h2 {
        grid-column: 1/3;
        justify-items: normal;
    }

    .eventCard {
        min-width: 210px;
        min-height: 720px;
        line-height: 50px;
    }

    .eventCard h3 {
        font-size: 22px;
    }

    .eventCard p {
        line-height: 34px;
    }

    .eventCard:nth-child(2) {
        grid-column: 1/2;
    }

    .eventCard:nth-child(3) {
        grid-column: 2/3;
    }

    .events .eventCard:nth-child(2) img {
        float: none;
    }

    .spotlights .spotlightCard {
        margin: 10px;
    }

    .spotlightCard {
        min-width: 90%;
        min-height: 230px;
        justify-content: center;
    }
    
    #weather {
        grid-column: 1/4;
        margin: 30px 5px;
        min-width: auto;
    }

    .employeeSpotlight {
        grid-column: 1/4;
        margin: 10px;
    }

    footer {
        margin-top: 20px;
        align-items: center;
    }

    #navigationLinks {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    #navigationLinks a {
        display: flex;
        color: azure;
        font-size: 20px;
    }

    .footerInfo {
        max-width: 210px;
    }


    /*Discover Page styles*/

    .discoverHeader {
        grid-column: 1/4;
    }

    .headerLine {
        grid-column: 1/4;
    }

    aside {
        grid-column: 1/2;
        margin-right: 20px;
    }

    .calender iframe {
        height: 800px;
    }

    .images {
        grid-column: 2/4;
        justify-content: space-between;
    }

    .image1, .image2, .image3, .image4 {
        margin-bottom: 20px;
    }

    .image1 img:hover, .image2 img:hover, .image3 img:hover, .image4 img:hover, .image5 img:hover {
        border: var(--secondary-color) solid 15px;
    }


    /* Join Page Styles */

    #joinMain {
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 0;
    }

    .titleLine {
        min-width: 300px;
    }

    form {
        grid-column: 1/2;
    }

    /* #lineBreak {
        grid-column: 2/3;
        display: initial;
        margin: 0 20px;
    } */

    table {
        display: initial;
        grid-column: 2/4;
        border: black solid 3px;
        border-radius: 10px;
        border-spacing: 0;
        height: 688px;
        margin-left: 60px;
    }

    caption {
        text-align: center;
        caption-side: bottom;
        padding-top: 10px;
    }

    thead tr:first-child th {
        color: white;
        background-color: black;
        font-family: var(--heading-font);
        text-align: center;
        padding: 20px 0;
    }

    thead tr:nth-child(2) th {
        background-color: black;
        padding: 10px 15px;
    }

    thead tr:nth-child(2) td {
        background-color: var(--secondary-color);
        font-family: var(--paragraph-font);
        padding: 10px 15px;
        text-align: center;
    }

    tbody tr {
        text-align: center;
        font-family: var(--paragraph-font);
    }

    tbody tr th {
        color: white;
        background-color: black;
        font-family: var(--paragraph-font);
        padding: 55px 5px;
    }


    
    /* Directory Page Styles */

    #directoryMain {
        display: flex;
        flex-direction: column;
    }
    

    .grid {
        display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        justify-items: center;
    }

    .grid section {
        min-width: 180px;
        min-height: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .list {
        width: 100%;
    }

    .list section {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        font-size: 13px;
        padding: 15px 5px;
    }
 }