@media screen and (min-width: 730px) {
    body {
        display: grid;
        grid-template-columns: 1fr 80% 1fr;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        margin: 15px 10px 15px 10px;
        text-align: center;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 60px 0 60px;
    }

    main h2 {
        display: block;
        text-align: left;
        margin: 10px 0 10px 0;
    }

    .card {
        width: auto;
        max-width: 300px;
        margin: 10px 0 25px 0;
    }
    /*
    .card p {
        padding: 0 60px 0 60px;
    }*/
    .card ul {
        max-width: 390px;
    }

    
}